:root{
--dark-mode-elements: hsl(209, 23%, 22%);
--dark-mode-background: hsl(207, 26%, 17%);
--light-mode-text: hsl(200, 15%, 8%);
--dark-gray: hsl(0, 0%, 52%);
--light-gray: hsl(0, 0%, 98%);
--white-dark-mode: hsl(0, 0%, 100%);
}



body{
  position: absolute;
  margin: 0;
  width: 100vw;
  /* padding: 0; */
  /* height: 100vh; */
  font-family: 'Nunito Sans';
  font-weight: 300;
  /* overflow: hidden; */
}

#base{
  background: var(--light-gray);
  min-height: 100vh;
  color: black;
  transition: 500ms;
}

#base *:not(.countries-grid, .search-sort-container){
  transition: 300ms;
  background: white;
}

#base.dark-mode {
  background: var(--dark-mode-background);
  color: var(--white-dark-mode);
}
#base.dark-mode *:not(.countries-grid, .search-sort-container){
  color: var(--white-dark-mode);
  background: var(--dark-mode-elements);
}
#base.dark-mode *.box-shadow{
  box-shadow: 0px 5px 10px 1px var(--dark-mode-elements);
}

#base.dark-mode input::placeholder{
  color:white;
}

#base.dark-mode input.box-shadow:focus{
  border: 2px solid white;
}

h3{
  margin: 0%;
}

#root{
  height: 100%;
  width: 100%;
}

.countries-grid{
  position: relative;
  margin-top: 50px;
  left: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-row-gap: 100px;
  padding-bottom: 100px;
  width: 90%;
  align-items: center;
  /* justify-content: center; */
}

.box-shadow{
  box-shadow: 0px 5px 10px 1px var(--dark-gray);
}

.countryCard{
  position: relative;
  /* font-size: 2em; */
  /* background: white; */
  box-sizing: border-box;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 10%;
  line-height: 100%;
  /* text-align: center; */
  text-align: left;
  height: 100%;
  border-radius: 3px;
  line-height: 100%;
  overflow: hidden;
  transition: none;
  grid-column: span 1;
  grid-row: span 1;
  /* border: 1px solid grey; */
  /* box-shadow: 0px 5px 5px 2px var(--dark-gray); */
  margin-top: 20px;
  /* transition-property: line-height, width, height;
  transition-duration: 700ms; */
  /* margin-bottom: 20px; */
}

.countryCard:hover:not(.expanded-card){
  line-height: 110%;
  cursor: pointer;
  height: 102%;
  width: 82%;
  
}

.img-container{
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  /* height: 50%; */
  width: 100%;
  padding-bottom: 66.66%;
  object-fit: scale-down;
}


.img-container img{
  position: absolute;
  width: 100%;
  min-height: 100%;
  transition: 0ms;
  /* left: -0%;
  height: 100%;
  /* height: 100%; */
}

.country-description{
  /* line-height: 150%; */
  padding: 20px;
  padding-top: 0%;
  /* height: 50%; */
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  font-size: 0.7rem;
  /* flex-grow: 1; */
}
.country-description h5{
  font-size: 0.8rem;
}

span{
  font-size: 0.7rem;
  font-weight: 600;
}


.search-sort-container{
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  left: 10%;
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: space-between;   
}

input{
  font-family: 'Nunito Sans';
  font-weight: 600;
  height: 100%;
  width: 40%;
  padding-left: 10px;
  border-radius: 3px;
  border: 0;
  transition: 700ms;
  font-size: 1em;
}

input:focus{
  border: 2px solid white;
  /* outline: 2px solid lightseagreen; */
  outline: none;
}

.countryCard.expanded-card{
  /* align-self: flex-start; */
  /* margin-bottom: 40px; */
  grid-column: span 4;
  /* grid-row: span 2; */
  grid-row-start: 0;
  height: calc(0px + 70vh);
  width: 100%;
  flex-direction: row;
  /* box-shadow: 0px 0px 0px 0px;
  background: var(--light-gray); */
  /* align-items: center; */
  /* height: 70vh; */
}

.countryCard.expanded-card h5{
  font-size: 1.5rem;
}

.countryCard.expanded-card .country-description{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* text-align: center; */
  /* font-size: 1rem; */
  height: 125%;
  
}

.countryCard.expanded-card .country-description *:not(h5){
  font-size: 1rem;
}

.countryCard.expanded-card .img-container{
  /* box-sizing: border-box; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0%;
  height: 100%;
  position: relative;
  top: 12.5%;
  /* width: 100%; */
  /* flex-grow: 1; */
}

.countryCard.expanded-card .img-container img{
  animation: load-image 1s;
  min-height: 0px;
  /* max-height: 40px; */
  /* position: absolute; */
  /* position: absolute; */
  height: auto;
  width: 80%;
  /* top: 35%; */
  /* height: 30%; */
}

#borders-container{
  position: relative;
  top: -1em;
  left: 4em;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  flex-wrap: wrap;
}

.border-button{
  /* background: var(--light-gray); */
  border: 0.5px solid var(--dark-gray);
  font-family: 'Nunito sans';
  /* color: var(--dark-gray); */
  font-weight: 300;
  margin: 3px;
  border-radius: 3px;
  transition: 100ms;
  padding: 3px;
}

.border-button:hover{
  border: 2px solid var(--dark-gray);
  /* background: var(--light-gray); */
  cursor: pointer;
}

button{
  text-decoration: none;
  color: inherit;
  text-align: center;
  text-justify: center;
  border: 0;
  font-size: 1rem;
  font-family: 'Nunito sans';
}

button:hover{
  cursor: pointer;
}

#go-back{
  text-decoration: none;
  color: inherit;
  text-align: center;
  text-justify: center;
  line-height: 30px;
  width: 100px;
  height: 30px;
  border-radius: 3px;
  font-size: 1rem;
  position: absolute;
  top: -20px;
  z-index: 1;
  /* align-self: flex-start; */
  left: 0%;
  /* background: white; */
  font-family: 'Nunito sans';
  font-weight: 600;
  /* color: black; */
  border: 0;
  transition: 1s;
  /* margin-top: 50px; */
  margin-bottom: 20px;
}

#go-back:hover{
  /* border: 1px solid var(--dark-gray); */
  box-shadow: 0px 0px 2px 1px var(--dark-gray);
  cursor: pointer;
}

#top-bar{
  /* border-bottom: 1px solid var(--dark-gray); */
  box-sizing: border-box;
  /* background:white; */
  width: 100%;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0px;
  z-index: 100;
  /* padding-left: 30px; */
  /* padding-right: 0px; */
}

#dark-mode-toggle{
  width: 150px;
  height: 30px;
  border-radius: 3px;
  font-size: 1rem;
  position: relative;
  left: 20px;
  /* background: white; */
  font-family: 'Nunito sans';
  font-weight: 600;
  color: inherit;
  border: 0;
  /* transition: 1s; */
}

#dark-mode-toggle:hover{
  box-shadow: 0px 0px 10px 1px var(--dark-gray);
  cursor: pointer;
}

.select-option:hover{
  cursor: pointer;
}

@keyframes load-image{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

a{
  text-decoration: none;
  color:inherit;
}

@media (max-width: 900px){
  .countries-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .countryCard.expanded-card{
    grid-column: span 3;
  }
  .search-sort-container input{
    width: 20%;
    /* flex-direction: column; */
    /* margin-bottom: 100px; */
  }
}

@media (max-width: 600px){
  .countries-grid{
    grid-template-columns: 1fr 1fr;
  }
  .countryCard.expanded-card{
    grid-column: span 2;
  }
  .countryCard.expanded-card .country-description {
    justify-content: center;
  }
  .countryCard.expanded-card .country-description *:not(h5){
    font-size: 0.7rem;
  }
  .search-sort-container{
    flex-direction: column;
  }
  .search-sort-container input{
    width: 100%;
  }
}

a:active{
  border: 0px;     
}

.correct-answer{
  background-color: green !important;
  font-weight: 600;
  color: white !important;
}

.wrong-answer{
  background-color: red !important;
  font-weight: 600;
  color: white !important;
}

.quiz{
  position: relative;
  left: 5vw;
  width: 80vw;
  height: 50vh;
  margin: auto;
  /* border: black 1px solid; */
  /* border-radius: 20px; */
  z-index: 2;
  padding-bottom: 50px;
}

.initial-quiz-screen{
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  position: absolute;
  z-index: 1;
  background: white;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0s;
}

*.faded{
  opacity: 0;
  z-index: -1;
}

.question-container{
  width: 100%;
  height: 100%;
  display: flex;
}

.quiz-img-container{
  padding: 50px;
  position: relative;
  width: 50%;
  object-fit: cover;
}

.quiz-img-container img{
  animation: load-image 3s;
  max-width: 100%;
  max-height: 100%;
}

.question-answer{
  animation: fadein 1s;
  padding: 3px;
  margin: 10px;
  border-radius: 3px;
  border: 1px solid black;
}

.question-answer:hover{
  cursor: pointer;
}

.scoreboard{
  position: absolute;
  left: 3%;
  bottom: 3%;
  z-index: 1;

}

.quiz-button{
  position: absolute;
  right: 3%;
  bottom: 3%;
  border: 1px solid black;
  border-radius: 3px;
  padding: 7px;
  /* font-family: 'Nunito sans'; */
}

.start-quiz-button{
  font-size: 2rem;
  border: 1px solid black;
  transition: 2s;
}

.start-quiz-button:hover{
  background-color: black !important;
  color: white;
}